<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="logs"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/logfile-${current.date}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="current.date" datePattern="yyyy-MM-dd_HH-mm-ss"/>

    <logger name="org.example.logger" level="TRACE" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework" level="WARN" />

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>

</configuration>
